* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header {
  height: 100vh;
  width: 100%;
  background-image: url("./img/punta-del-este.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text-container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(124, 124, 124, 0.514);
}
#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
}
#subtitle-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}
.link-header {
  color: black;
  transition: 1s;
}
.link-header:hover {
  margin-top: 40px;
}
.icon-header {
  font-size: 35px;
  margin-top: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  position: sticky;
  top: 0px;
}
.nav-visible {
  position: sticky;
  top: 10px;
  background-color: rgb(101, 117, 148);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  color: white;
}
.title-nav {
  font-family: 'Open Sans', sans-serif;

}
.button-icon-nav {
  border-style: none;
  background-color: rgba(245, 222, 179, 0);
}
.icon-nav {
  font-size: 20px;
  color: white;
}
.navbar-links {
  background-color: rgb(101, 117, 148);
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}
.link-nav {
  text-decoration: none;
  color: white;
  transition: 1s;
}
.link-nav:hover {
  font-size: 1.2em;
}
.d-none {
  display: none;
}

/* PÁGINA DE INICIO */
/* PÁGINA DE INICIO */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container-bloque1-inicio {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: justify;
}
.title-bloque1-inicio {
  margin: 10px 0px;
  font-family: 'Roboto', sans-serif;
}
.texto-bloque1-inicio {
  margin: 20px 0px;
  font-family: 'Roboto', sans-serif;
}
.button-redes-sociales {
  border-style: none;
  border-radius: 3px;
  background-color: rgb(101, 117, 148);
  width: 150px;
  height: 30px;
  margin: 0px 20px;
}
.link-button-redes-sociales {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.container-buttons-bloque1-inicio {
  margin-top: 20px;
}

.bloque2-inicio {
  background-color: rgb(101, 117, 148);
  padding: 20px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;

}

.bloque3-inicio {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title-bloque3-inicio {
  font-size: 2em;
}
.subtitle-bloque3-inicio {
  font-size: 1.3em;
  text-align: center;
  margin-top:  10px;
}
.obj-list-serrvices {
  margin-top: 10px;
}

.bloque4-inicio {
  height: 100vh;
  background-color: rgb(101, 117, 148);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
.img-container-bloque3-inicio {
  width: 500px;
}
img {
  width: 100%;
}
.texto-llegada {
  width: 40%;
  margin-top: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.footer {
  height: 100vh;
  background-color: rgb(101, 117, 148);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.contacto {
  color: white;
  font-size: 2em;

}
.link-contact {
  color: black;
}
.container-redes-sociales-contact {
  display: flex;
}
.icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container-redes-sociales-contact .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container-redes-sociales-contact .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container-redes-sociales-contact .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.container-redes-sociales-contact .icon:hover a,
.container-redes-sociales-contact .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.container-redes-sociales-contact .facebook:hover,
.container-redes-sociales-contact .facebook:hover .tooltip,
.container-redes-sociales-contact .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.container-redes-sociales-contact .instagram:hover,
.container-redes-sociales-contact .instagram:hover .tooltip,
.container-redes-sociales-contact .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}



.phones-contact {
  display: flex;
  flex-wrap: wrap;
}
.icon-phone-container {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;

}
.text-phone {
  text-align: center;
  margin: 10px 0px;
}
.icon-phone {
  background-color: rgb(101, 117, 148);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: white;
}
.link-contact-phone {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mail-contacto {
  color: white;
}
.ubicacion-contacto {
  display: flex;
  align-items: center;
  color: white;
}
.icon-ubicacion {
  font-size: 30px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  #title {
    text-align: center;
  }
  #subtitle-header {
    margin-top: 10px;
  }
  .title-nav {
    font-size: 1.2em;
  }
  .nav-visible {
    padding: 10px;
  }
  .container-bloque1-inicio {
    width: 90vw;
  }
  .title-bloque1-inicio {
    font-size: 1.3em;
  }
  .button-redes-sociales  {
    margin: 10px 0px;
  }

  .title-bloque3-inicio {
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;

  }
  .subtitle-bloque3-inicio {
    font-size: 1em;
  }
  .title-list-services {
    margin: 20px;
  }
  .services-list {
    width: 90vw;
    margin: 20px;
  }
  .bloque4-inicio {
    justify-content: space-evenly;
  }
  .img-container-bloque3-inicio {
    width: 300px;
  }
  .texto-llegada {
    width: 90%;
  }
  .container-buttons-bloque1-inicio {
    text-align: center;
  }
  .contacto {
    margin-top: 20px;
  }
  .phones-contact {
    justify-content: center;
  }
  .mail-contacto{
    font-size: 1em;
  }
  .text-ubicacion-contacto {
    font-size: .9em;
  }
  .icon-ubicacion {
    margin-left: 15px;
  }
}

/* PÁGINA DE COACHING */

.title-coaching-container {
  padding: 30px;

}
#title-coaching {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);

}
.hr-title-coaching {
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: black;
}

.cita-coaching-container-img{
  margin: auto;
  height: 70vh;
  width: 90%;
  background-image: url("./img/aeropuerto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cita-coaching-container {
  height: 100%;
  background-color: rgba(85, 85, 85, 0.411);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;

}
.title-cita {
  font-size: 2em;
  text-align: center;
}
.cita-te-dice {
  text-align: left;
  margin-top: 10px;
  margin-left: 260px;
  font-size: 1.5em;
}
.cita-texto {
  font-size: 1.2em;
  text-align: center;
  width: 40%;
  margin: 10px auto;
}
.autor-cita {
  text-align: right;
  margin-right: 260px;
  font-size: 1.2em;
}
.coaching-migrotario-container {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  text-align: justify;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cuando-un-coaching-migratorio-container {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  text-align: justify;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.lista-ranzones-coachig {
  margin-left: 50px;
}
.obj-lista-coaching {
  margin: 10px 0px;
}

@media (max-width: 600px) { 
  .title-cita {
    font-size: 1.5em;
  }
  .cita-te-dice {
    margin-left: 10px;
    font-size: 1.2em;
  }
  .cita-texto {
    width: 80%;
  }
  .autor-cita {
    margin-right: 10px;
  }
  .coaching-migrotario-container, .cuando-un-coaching-migratorio-container  {
    width: 90%;
  }
  .title-coaching-migratorio {
    margin: 15px 0px;
    font-size: 1.2em;
    text-align: center;
  }
  .texto-coaching-migratorio {
    margin: 10px 0px;
  }
  .title-necesidad-coaching {
    text-align: center;
    margin: 20px 0px;
  }
  .lista-ranzones-coachig  {
    margin: 10px 20px;
  }
  .texto-necesidad-coaching {
    margin: 10px 0px;
  }
}

/* ASESORAMIENTO VEHICULAR */

.title-ase-vehicular-container {
  padding: 30px;

}
#title-ase-vehicular {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);

}
.hr-ase-vehicular{
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: black;
}
.title-frase-viajar-auto {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;

}
.texto-frase-viajar-auto {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.imagen-auto {
  height: 70vh;
  background-image: url("./img/roadtrip2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.info-ase-vehicular-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;

}
.title-info-ase-vehicular {
  font-size: 1.7em;
  margin-top: 20px;
}
.container-img-info-vehicular {
  max-width: 400px;
  margin-top: 20px;
}
.texto-info-ase-vehicular {
  margin-top: 20px;
  width: 80%;
  text-align: justify;
}
.lista-info-ase-vehicular {
  margin-top: 40px;
}
.container-img-ase-vehicular {
  max-width: 800px;

}
.frase-con-img-ase-vehicular {
  margin-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-frase-con-img-ase-vehicular {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
@media (max-width: 600px) {
  .frase-viajar-auto-texto-container {
    width: 90%;
    margin: 20px 0px;
  }
  .title-info-ase-vehicular {
    font-size: 1.5em;
    text-align: center;
  }
  .subtitle-info-ase-vehicular {
    margin-top: 20px;
    text-align: center;
    font-size: .9em;
  }
  .lista-info-ase-vehicular {
    margin-left: 50px;
  }
  .frase-con-img-ase-vehicular {
    justify-content: center;
    height: 50vh;
  }
  .texto-frase-con-img-ase-vehicular {
    font-size: 1em;
    text-align: center;
  }
}

/* VISA EEUU */

.title-visa-ee-uu-container {
  padding: 30px;

}
#title-visa-ee-uu {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);

}
.hr-visa-ee-uu {
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: black;
}

.img-ee-uu-container {
  max-width: 600px;
  margin: auto;


}
.img-ee-uu-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px;
}
.visa-quienes-somos-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.visa-quienes-somos-texto-container {
  width: 40%;
  height: 70%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Open Sans', sans-serif;

}
.img-container-visa-quienes-somos {
  max-width: 500px;
}
.texto-visa-quines-somos {
  font-size: 1.2em;
}
.consultores-nueva-york-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 600px) {
  .visa-quienes-somos-container {
    min-height: 100vh;
    flex-direction: column;
  }
  .visa-quienes-somos-texto-container {
    width: 90%;
    margin-top: 10px;
  }
  iframe {
    width: 300px;
  }
  .animation-text {
    text-align: center;
  }
  .texto-visa-quines-somos {
    margin-top: 10px;
  }
  .img-container-visa-quienes-somos {
    margin: 20px;
  }
  .consultores-nueva-york-container {
    margin: 20px;
  }
  .texto-consultores-nueva-york {
    text-align: center;
    font-size: 1.2em;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* VIAJAR CON MASCOTA */
.title-mascota-container {
  padding: 30px;

}
#title-mascota {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);

}
.hr-masccota {
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: black;
}
.img-mascota-container {
  max-width: 700px;
  margin: auto;
}
.info-mascota-container, .texto-info-mascota-container, .info-mascota-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0px;
}
.title-info-mascota, .subtitle-info-mascota {
  font-family: 'Poppins', sans-serif;

}
.texto-info-mascota{
  width: 60%;
  text-align: justify;
  margin: 5px 0px;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 600px) {
  .img-mascota-container {
    margin: 0px 10px;
  }
  .texto-info-mascota {
    width: 80%;
  }
}
.container-imgs-aca-estamos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-container-aca-estamos {
  max-width: 350px;
}

/* VIVIR EN URUGUAY */

.title-vivir-uruguay-container {
  padding: 30px;

}
#title-vivir-uruguay {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(0, 0, 0);

}
.hr-vivir-uruguay {
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: black;
}

.img-vivir-uruguay-container {
  height: 70vh;
  background-image: url("./img/vivir-en-uruguay.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img-vivir-uruguay-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(29, 27, 27, 0.651);
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2em;
}
.info-vivir-uruguay-container {
  background-color: rgb(101, 117, 148);
  color: white;
  font-family: 'Open Sans', sans-serif;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.texto-info-vivir-uruguay {
  width: 50%;
  text-align: justify;
}
@media (max-width: 600px) {
  #title-vivir-uruguay {
    font-size: 1.6em;
  }
  .img-vivir-uruguay-texto {
    font-size: 1.6em;
    text-align: center;
  }
  .info-vivir-uruguay-container  {
    height: 100vh;
  }
  .texto-info-vivir-uruguay {
    width: 90%;
  }
}

/* ACERCA DE  */

.title-acerca-container {
  padding: 30px;
  background-color: rgb(101, 117, 148);

}
#title-acerca {
  font-size: 2em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);

}
.hr-acerca {
  margin: 10px auto ;
  width: 50%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sobre-nosotros-container {
  background-color: rgb(101, 117, 148);
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;

}
.img-container-sobre-nosotros {
  max-width: 250px;
}
.img-sobre-nosotros {
  border-radius: 50%;
}
.texto-img-sobre-nosotros {
  font-size: .8em;
  text-align: center;
  margin-top: 5px;
}
.info-sobre-nosotros {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.texto-sobre-nosotros {
  text-align: justify;
  margin: 20px;

}
.area-de-desarrollo {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
}
.texto-area-de-desarrollo {
  width: 70%;
  margin: auto;
}
.title-area-de-desarrollo {
  margin-left: 130px;
  font-size: 1.8em;
}
.estudio {
  font-size: 1.2em;
}
@media (max-width: 600px) {
  #title-acerca {
    font-size: 1.9em;
  }
  .info-sobre-nosotros {
    width: 90%;
    margin: auto;
  }
  .area-de-desarrollo  {
    width: 90%;
    margin: auto;
  }
  .texto-area-de-desarrollo {
    width: 90%;
    margin: 10px auto;
  }
  .estudio {
    font-size: 1em;
    margin-bottom: 5px;
  }
  .title-area-de-desarrollo {
    font-size: 1.3em;
    margin: 15px 0px;
    margin-left: 10px;
  }
}